:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  /* font-weight: 500;
  color: #646cff; */
  text-decoration: inherit;
}
/* a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  border: #213547 1px solid;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


#root {
  width: 100%;
  min-height: 100vh;
  background-color: #FFFBF1;
}

/* ------------- BANNER ------------------------------ */
.BannerBack {
  font-size: 0.6rem;
  position: sticky;
  z-index: 1000;
  background-color: #AFAB23;
  width: 100%;
}

.tbar {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.tbar h1 {
  font-family: "Fraunces", serif;
  color: #fffbf1;
}

.loginbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginbtn button {
  font-family: "Fraunces", serif;
  color: #565aa4;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 10px;
}

.loginbtn input {
  margin: 0px 10px;
  padding: 5px;
  font-family: "Fraunces", serif;
  color: #565aa4;
  font-weight: 600;
  font-size: 1rem;
}

/* ---------- PHRASES ------------------------------- */
.phrases {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 24px;
}

.phrases a {
  padding: 10px 20px;
  border: 3px solid #853275;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
  transition: 
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.phrases a:hover {
  transform: translateY(-2px);
  box-shadow: 4px 6px 10px rgba(159, 55, 149, 0.08);
}

.phrase h2 {
  color: #853275;
  font-family: "Fraunces", serif;
  margin: 0px;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: 600;
}

.phrase h3 {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 300;
}

/* --------------------ROOT AND CONTENT --------------------------- */
.content {
  padding: 10px 40px;
  max-width: 900px;
  margin: 0 auto;
}

/* -------------------VOCAB SENTENCE TITLE PAGE ---------------------*/
.VocabTitle {
  color: #b4552c;
  margin-bottom: 20px;
}
.VocabTitle h1 {
  font-family: "Fraunces", serif;
  font-size: 2.5em;
  margin: 20px 0px 5px 0px;
}
.VocabTitle h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  margin: 0px;
  font-weight: 300;

}